@font-face {
  font-family: 'icomoon';
  src:  url('FON/icomoon.eot?qgn1mr');
  src:  url('FON/icomoon.eot?qgn1mr#iefix') format('embedded-opentype'),
    url('FON/icomoon.ttf?qgn1mr') format('truetype'),
    url('FON/icomoon.woff?qgn1mr') format('woff'),
    url('FON/icomoon.svg?qgn1mr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'AvantGarde LT Medium';
    src: url('FON/ITC_Avant_Garde_Gothic_LT_Medium.ttf');
}

@font-face {
    font-family: 'Aller';
    src: url('FON/Aller_Rg.ttf');
}

@font-face {
    font-family: 'Gisha';
    src: url('FON/gisha.ttf');
}

@font-face {
    font-family: 'Glee';
    src: url('FON/glee font.ttf');
}

@font-face {
    font-family: 'Sacramento Regular';
    src: url('FON/Sacramento Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('FON/OpenSans.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('FON/Roboto.ttf');
}

@font-face {
    font-family: 'Noto';
    src: url('FON/Noto.ttf');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ini:before {
  content: "\e902";
}
.icon-edit:before {
  content: "\e905";
}
.icon-img:before {
  content: "\e90d";
}
.icon-video:before {
  content: "\e913";
}
.icon-carpeta:before {
  content: "\e930";
}
.icon-nuevo:before {
  content: "\e931";
}
.icon-subir:before {
  content: "\e934";
}
.icon-eti:before {
  content: "\e936";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-dolar:before {
  content: "\e93b";
}
.icon-tarjeta:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-contacto:before {
  content: "\e944";
}
.icon-EMAIL:before {
  content: "\e945";
}
.icon-local:before {
  content: "\e947";
}
.icon-coment:before {
  content: "\e96b";
}
.icon-user:before {
  content: "\e971";
}
.icon-usernew:before {
  content: "\e973";
}
.icon-admin:before {
  content: "\e976";
}
.icon-bus:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-fil:before {
  content: "\e992";
}
.icon-config:before {
  content: "\e994";
}
.icon-ofe:before {
  content: "\e9a9";
}
.icon-eliminar:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-dislike:before {
  content: "\e9d7";
}
.icon-like:before {
  content: "\e9d9";
}
.icon-fav:before {
  content: "\e9da";
}
.icon-mas:before {
  content: "\ea0a";
}
.icon-menos:before {
  content: "\ea0b";
}
.icon-check:before {
  content: "\ea10";
}
.icon-salir:before {
  content: "\ea14";
}
.icon-derecha:before {
  content: "\ea34";
}
.icon-izquierda:before {
  content: "\ea38";
}
.icon-fle:before {
  content: "\ea50";
}
.icon-fb:before {
  content: "\ea91";
}
.icon-ins:before {
  content: "\ea92";
}
.icon-tw:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-apple:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-pdf:before {
  content: "\eadf";
}
